compressed_plasmid_ref_matrix.rds filter=lfs diff=lfs merge=lfs -text
*compressed_plasmid_ref_matrix.rds filter=lfs diff=lfs merge=lfs -text
tables/compressed_plasmid_ref_matrix.rds filter=lfs diff=lfs merge=lfs -text
